################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/csharp_practice_gpa/.vs/csharp_practice_gpa
/.vs/csharp_practice_gpa
